<h1>All transactions</h1>

<table id="newtable">

  <tr>
    <th>Value</th>
    <th>Merchant</th>
    <th>Date</th>
    <th>Tag</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% for transaction in @transactions %>

<tr>
<td><%= transaction.value%></td>
<td><%= transaction.which_merchant.name%></td>
<td><%= transaction.transaction_date %></td>
<td><%= transaction.which_tag.name %></td>


<td><form action="/transactions/<%= transaction.id %>/edit" method="get">
  <input type="submit" class="button" value="Edit Transaction"/>
</form></td>

<td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
  <input type="submit" class="button" value="Remove transaction"/>
</form></td>
</tr>
<% end %>


<table id="newtable">

  <tr>
    <th>Tag</th>
    <th>Total</th>
  </tr>

<% for tag in @tags%>
  <tr>
   <td><%= tag.name %></td>
   <td><%= tag.transaction_total %></td>
 </tr>
 <% end %>

 </table>


 <table id="newtable">

   <tr>
     <th>Merchant</th>
     <th>Total</th>
   </tr>

<% for merchant in @merchants%>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= merchant.transaction_total %></td>
  </tr>
<% end %>

</table>


<p>January: <%=@january %></p>
<p>February: <%=@february %></p>
<p>March: <%=@march %></p>
<p>April: <%=@april%></p>
<p>May: <%=@may %></p>
<p>June: <%=@june %></p>
<p>July: <%=@july %></p>
<p>August: <%=@august %></p>
<p>September: <%=@september %></p>
<p>October: <%=@october %></p>
<p>November: <%=@november %></p>
<p>December: <%=@december %></p>



<p>Total: <%= @total %></p>

<p>Budget: <%= @accountsettings.budget_limit %> </p>

<% if @accountsettings.budget_limit < @total %>
<p>Warning! Budget exceeded.</p>
<% end %>
