<h1>All transactions</h1>

<table id="newtable">

  <tr>
    <th>Value</th>
    <th>Merchant</th>
    <th>Date</th>
    <th>Tag</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% for transaction in @transactions %>

<tr>
<td><%= transaction.value%></td>
<td><%= transaction.which_merchant.name%></td>
<td><%= transaction.transaction_date %></td>
<td><%= transaction.which_tag.name %></td>


<td><form action="/transactions/<%= transaction.id %>/edit" method="get">
  <input type="submit" class="button" value="Edit Transaction"/>
</form></td>

<td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
  <input type="submit" class="button" value="Remove transaction"/>
</form></td>
</tr>
<% end %>

</table>

<div>
   <label for="item-1">Toggle Div</label>
   <input type="checkbox" name="one" id="item-1">
   <div class="hide">
     <table id="newtable">
       <tr>
         <th>Tag</th>
         <th>Total</th>
       </tr>

    <% for tag in @tags%>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.transaction_total %></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>

 <div>
 		<label for="item-1">Toggle Div</label>
 		<input type="checkbox" name="one" id="item-1">
 		<div class="hide">
      <table id="newtable">

        <tr>
          <th>Merchant</th>
          <th>Total</th>
        </tr>

        <% for merchant in @merchants%>
        <tr>
          <td><%= merchant.name %></td>
          <td><%= merchant.transaction_total %></td>
        </tr>
        <% end %>
      </table>
    </div>
</div>

<div>
		<label for="item-1">Toggle Div</label>
		<input type="checkbox" name="one" id="item-1">
		<div class="hide">

      <table id="newtable">
        <tr>
          <th>Month</th>
          <th>Total</th>
        </tr>

        <% for month in @months%>
        <tr>
          <td><%= month.month_name %></td>
          <td><%= month.total %></td>
        </tr>
        <% end %>
      </table>
    </div>
</div>


<p>Total: <%= @total %></p>

<p>Budget: <%= @accountsettings.budget_limit %> </p>

<% if @accountsettings.budget_limit < @total %>
<p>Warning! Budget exceeded.</p>
<% end %>
