<h2>All transactions</h1>

<ul id="budget-display">
  <span style="display:block; height: 120px;"></span>
    <li>Budget: £<%= sprintf("%.2f", @accountsettings.budget_limit) %></li>
  <hr width="70%">
  <span style="display:block; height: 10px;"></span>
    <li>Total spent: £<%= sprintf("%.2f", @total) %></li>
  <hr width="70%">
  <span style="display:block; height: 10px;"></span>
    <li>Available: £<%= sprintf("%.2f", @accountsettings.budget_limit - @total) %></li>
  <hr width="70%">
  <span style="display:block; height: 10px;"></span>

  <% if @total > @accountsettings.budget_limit %>
  <div class="alert">
    Warning! Budget exceeded.
  </div>
  <% elsif (@accountsettings.budget_limit - @total) < (@accountsettings.budget_limit*0.1) %>
  <div class="yellowalert">
    Warning, less than 10% of budget remaining.
  </div>
  <% else %>
  <div class="goodalert">
    Well done, spending under budget.
  </div>
  <% end %>


</ul>

<table class="newtable">

  <tr>
    <th>Account ID</th>
    <th>Value</th>
    <th>Merchant</th>
    <th>Date</th>
    <th>Tag</th>
    <th>Details</th>
    <th>Edit</th>
  </tr>

<% for transaction in @transactions %>

<tr>
  <td>RJF-29-ABZ-1</td>
  <td>£<%= sprintf("%.2f", transaction.value) %></td>
  <td><%= transaction.which_merchant.name %></td>
  <td><%= transaction.transaction_date %></td>
  <td><%= transaction.which_tag.name %></td>

  <td><form action="transactions/<%= transaction.id %>" method="get">
    <input type="submit" class="button" value="Details" id="tablebutton"/>
  </form></td>

  <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input type="submit" class="button" value="Delete" id="tablebutton"/>
  </form></td>
</tr>
<% end %>

</table>
