
<a href="#newtable1">Months</a>

     <table id="newtable">
       <tr>
         <th>Tag</th>
         <th>Total</th>
       </tr>

    <% for tag in @tags%>
      <tr>
        <td><%= tag.name %></td>
        <td>£<%= sprintf("%.2f", tag.transaction_total) %></td>
      </tr>
    <% end %>

    </table>



      <table id="newtable">

        <tr>
          <th>Merchant</th>
          <th>Total</th>
        </tr>

        <% for merchant in @merchants%>
        <tr>
          <td><%= merchant.name %></td>
          <td>£<%= sprintf("%.2f", merchant.transaction_total) %></td>
        </tr>
        <% end %>
      </table>



      <table id="newtable1">
        <tr>
          <th>Month</th>
          <th>Total</th>
        </tr>

        <% for month in @months%>
        <tr>
          <td><%= month.month_name %></td>
          <td>£<%= sprintf("%.2f", month.total) %></td>
        </tr>
        <% end %>
      </table>
