<ul id="localnav">
    <li>Go to: </li>
    <li><a href="#tagtable">Tags</a></li>
    <li><a href="#merchanttable">Merchants</a></li>
    <li><a href="#monthtable">Months</a></li>
</ul>
    <h2>Tags</h2>
     <table class="newtable" id="tagtable">
       <tr>
         <th>Tag</th>
         <th>Total</th>
       </tr>

    <% for tag in @tags%>
      <tr>
        <td><%= tag.name %></td>
        <td>£<%= sprintf("%.2f", tag.transaction_total) %></td>
      </tr>
    <% end %>

    </table>


    <h2>Merchants</h2>
      <table class="newtable" id="merchanttable">

        <tr>
          <th>Merchant</th>
          <th>Total</th>
        </tr>

        <% for merchant in @merchants%>
        <tr>
          <td><%= merchant.name %></td>
          <td>£<%= sprintf("%.2f", merchant.transaction_total) %></td>
        </tr>
        <% end %>
      </table>


      <h2>Months</h2>
      <table class="newtable" id="monthtable">
        <tr>
          <th>Month</th>
          <th>Total</th>
        </tr>

        <% for month in @months%>
        <tr>
          <td><%= month.month_name %></td>
          <td>£<%= sprintf("%.2f", month.total) %></td>
        </tr>
        <% end %>
      </table>
