<h1>Transaction Details</h1>

<p>Value: <%= @transaction.value %></p>

<% for merchant in @merchants do %>
  <% if merchant.id == @transaction.merchant_id %>
 <p>Merchant: <%= merchant.name %></p>
 <% end %>
<% end %>

<p>Date: <%= @transaction.transaction_date %></p>

<% for tag in @tags do %>
  <% if tag.id == @transaction.tag_id %>
    <p>Tag: <%= tag.name %></p>
  <% end %>

<% end %>
<td><form action="/transactions/<%= @transaction.id %>/edit" method="get">
  <input type="submit" class="button" value="Edit Transaction"/>
</form></td>

<td><form action="/transactions/<%= @transaction.id %>/delete" method="POST">
  <input type="submit" class="button" value="Remove transaction"/>
</form></td>
</tr>
